* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Wrapper Style */
.wrapper {
  width: 100%;
  height: auto;
  max-width: 375px;
  margin: auto;
  /* background-color: aqua; */
  /* overflow: hidden; */
}

/* Layout Left Right Offset Setting Container */

/* .container {
  width: 375px;
  max-width: 375px;
  height: auto;
  margin: auto;
  padding: 0 2.5rem;
} */

.section {
  width: 100%;
  height: 100vh;
  padding: 0 1.6875rem;
  position: relative;
  background: darkgray;
}

/* gnb style */

.header {
  width: 100%;
  height: 50px;
  max-width: 375px;
  background: #fff;
  position: fixed;
  /* display: flex; */
  top: 0;
  left: 0;
  padding: 0 0.625rem;
  z-index: 999;
  border-bottom: 1px solid #111;
}

.logo {
  position: relative;
  align-items: center;
  display: inline-block;
}

/* Common Button Style */

.cmn-btn {
  background: #000;
  color: #fff;
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  width: fit-content;
}
.cmn-btn:hover {
  background: #333;
}
