footer {
  width: 100%;
  padding: 0 1.6875rem;
  position: relative;
  margin-bottom: 1.875rem;
  display: flex;
  justify-content: space-between;
}

footer h5 {
  color: #222;
  font-family: 'Noto Sans';
  font-size: 8px;
  font-weight: 600;
}

footer h6 {
  color: #222;
  font-family: 'Noto Sans';
  font-size: 8px;
  font-weight: 300;
}

/* .footer_img {
  column-gap: 2rem;
} */
