.section h3 {
  color: #111;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section h6 {
  color: #111;
  font-family: 'Noto Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.section > img {
  z-index: -1;
}

/* section2 작품 둘러보기 */

.section2 h3 {
  margin-bottom: 20px;
  color: #111;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 500;
}

.container h4,
.container h5,
.container h6 {
  margin-bottom: 0.5rem;
}

.section2 .items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.625rem;
  row-gap: 2.5rem;
}

.items .container {
  width: calc(50% - 0.5rem);
  height: 256px;
  /* background: #fff; */
}

.items .container .item_image {
  width: 100%;
  height: 80%;
  background: #ddd;
}

.items .container .item_text {
  margin-top: 0.625rem;
}

.item_text h4 {
  color: #111;
  font-family: 'Noto Sans';
  font-size: 12px;
  font-weight: 700;
}

.item_text h5 {
  color: #222;
  font-family: 'Noto Sans';
  font-size: 10px;
  font-weight: 300;
}

.item_text h6 {
  color: #222;
  font-family: 'Noto Sans';
  font-size: 8px;
  font-weight: 300;
}

/* section3 작품 검색하기 */

.section3 h3 {
  color: #111;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 500;
}

.section3 form {
  display: flex;
  column-gap: 0.625rem;
}

.section3 input {
  display: flex;
  width: 247px;
  padding: 6px 10px;
  align-items: center;
  gap: 10px;
  border: 0.6px solid #ddd;
}

.section3 button {
  display: flex;
  width: 65px;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.6px solid #111;
  background: #fff;
}

/* section 4 소장품 하이라이트 */

.section4 h3 {
  color: #111;
  font-family: 'Noto Sans';
  font-size: 14px;
  font-weight: 500;
}

.section4 h5 {
  color: #333;
  font-family: 'Noto Sans';
  font-size: 10px;
  font-weight: 100;
}

.item2 {
  display: flex;
  /* flex-direction: column; */
}

.box5 {
  width: 156px;
  height: 210px;
  background: #111;
}

.text {
  flex-direction: column;
}
